.item {
  margin: 1rem 0.5rem;
  padding: 1rem 3rem;
  border-radius: 20px;
  background-color: rgb(155, 155, 155);
  list-style: none;
  /* display: flex; */
  box-shadow: 3px 6px 10px 0 rgb(71, 71, 71);
  margin-left: 0;
  margin-right: 30px;
  /* margin-bottom: 10px; */
}

.cartItemH3 {
  /* border: 1px solid red; */
  margin: 0.5rem 0 1rem 0;
  font-size: 1rem;
  font-weight: bold;
  /* background-color: red; */
  margin-right: 1.3rem;
  color: rgb(255, 255, 242);
}

.item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 0px;
  /* font-size: 10px; */
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid orange; */
}

.cartItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid yellow; */
}

.quantity div {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(218, 218, 218);
  border-radius: 10px;
  background-color: rgb(58, 68, 77);
  padding: 0.2rem 0.4rem;
  /* border: 1px solid green; */
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
  /* border: 1px solid white; */
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(193, 255, 213);
  letter-spacing: 1px;
  /* display: flex;
  justify-content: flex-end; */
  margin: 0.5rem 0;
  /* border: 1px solid blue; */
  background-color: rgb(112, 112, 112);
  padding: 5px;
  border-radius: 10px;
}

.itemprice {
  font-weight: normal;
  font-size: 1rem;
  font-style: italic;
  color: #252525;
  background-color: rgb(218, 218, 218);
  border-radius: 20px;
  padding: 2px 8px 0px 8px;
}

.actions button {
  background-color: transparent;
  border: 2px solid rgb(12, 6, 6);
  margin-left: 0.5rem;
  padding: 0.1rem 1rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 20px;
  padding-top: 0px;
}

.actions button.minus {
  background-color: #cc8187;
  color: rgb(56, 56, 56);
}

.actions button.add {
  background-color: #99d496;
  color: rgb(56, 56, 56);
}

.actions button:hover,
.actions button:active {
  background-color: #cfcfcf;
  color: rgb(56, 56, 56);
  cursor: pointer;
}

.item :hover {
  transform: scale(1.07);
  transition: 0.5s;
}
