.checkOutContainer {
  background-color: rgb(224, 221, 221);
  display: flex;
  margin: 150px;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 5px 10px 40px 0 rgba(134, 134, 134, 0.7);
}

.checkOutContainer:hover {
  box-shadow: 10px 20px 70px 0 rgba(53, 52, 52, 0.7);
  transform: scale(1.07);
  transition: 0.5s;
}

.checkOutPageBtn {
  padding: 20px 150px;
  border-radius: 30px;
  margin: 20px;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(173, 218, 255);
  letter-spacing: 1px;
  cursor: pointer;
}

.checkOutPageBtn:hover {
  letter-spacing: 3px;
  transition: 0.4s;
  background-color: rgb(125, 174, 206);
  color: rgb(231, 244, 250);
}
